body {
     background-color: #c65353;
}

#container {
     text-align: center;
}

.board {
     width: 512px;
     height: 512px;
     border: 1px solid black;
     background-color: white;
     margin: 10% 10% 10% 10%;
     display: grid;
     margin: auto;
}

/* color pickers */
.color-container {
     display: flex;
     flex-direction: column;
     align-items: center;
}

#colorpicker {
     appearance: none;
     -moz-appearance: none;
     -webkit-appearance: none;
     background: none;
     border: none;
     cursor: pointer;
     height: 3em;
     padding: 0;
     margin-top: 20px;
     width: 3em;
}

#colorpicker::-webkit-color-swatch {
     border-radius: 15px;
     border: none;
}

#colorpicker::-moz-color-swatch {
     border-radius: 15px;
     border: none;
}

label {
     font-family: "Poppins", sans-serif;
     font-size: 20px;
     font-weight: 600;
     cursor: pointer;
}

/* buttons */
.buttons {
     margin-top: 20px;
}

/* size slider */
.form-range {
     padding-top: 10px;
     width: 25%;
}

.form-label {
     font-size: 22px;
     font-weight: 700;
}

.slider-container {
     margin-top: 20px;
}

